@model Book

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div class="border p-5 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete book</h2>
        </div>

        <div class="row">
            <div class="col-6 mb-3">
                <label asp-for="Title"></label>
                <input asp-for="Title" disabled class="form-control" />
            </div>

            <div class="col-6 mb-3">
                <label asp-for="Author"></label>
                <input asp-for="Author" disabled class="form-control" />
            </div>

            <div class="col-12 mb-3">
                <label asp-for="Info"></label>
                <input asp-for="Info" disabled class="form-control" />
            </div>

            <div class="col-12 mb-3">
                <label asp-for="Link"></label>
                <input asp-for="Link" disabled class="form-control" />
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <div class="w-50 text-end">
                <button type="submit" class="btn btn-danger w-25">Delete</button>
                <a asp-controller="Book" asp-action="Index" class="btn btn-secondary w-25">Back to list</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
